@import "../../../variable.css";

.productionContainer {
    width: 100%;
    max-width: 2000px;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production {
    width: 100%;
    max-width: var(--maxWidthNav);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productionContainer--comments {
    background-color: #d7d5d5;
}

.production__bannerBackground {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-transform: uppercase;
    min-height: 300px;
}

.production__bannerContainer {
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.production__bannerInfo {
    position: absolute;
    height: 30%;
    top: 50%;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.production__bannerTitle {
    margin: 0;
    text-shadow: 2px 2px #000000;
    max-width: 400px;
}

.production__bannerCategory {
    margin: 0;
    color: #f3c804;
    text-shadow: 1px 1px #000000;
}

.production__banner {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.production__bannerDuration {
    color: #c7c0c0;
    text-transform: none;
    text-shadow: 1px 1px #000000;
}

.production__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 400px;
    width: 100%;
}

.production__ytFrame {
    width: 60%;
    height: 400px;
    margin: 0 30px 30px 0;
    border: none;
}

.production__detailsTable {
    background-color: rgb(24, 24, 24);
    color: white;
    text-transform: none;
}

.production__detailsTableItem {
    padding: 5px;
    width: 500px;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.production__detailsTableItemKey {
    flex-basis: 25%;
}

.production__detailsTableItemValue {
    flex-basis: 75%;
}

.production__starImg {
    height: 30px;
    width: 30px;
}

.production__rating {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.production__rating h2 {
    margin: 0 5px 0 0;

}

.production__userRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;

}

.production__userRating h3 {
    margin-right: 10px;
}

.production__userRatingStars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.production__userRatingStarImg {
    height: 20px;
    width: 20px;
    padding: 7px;
}

.production__starImg {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.production__ratingRate {
    margin-right: 5px;
    font-size: 2rem;
    text-decoration: solid;
}

.production__ratingNumberOfRate {
    color: rgb(224, 224, 224);
}


.production__second {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


@media (max-width: 1200px) {
    .production__main {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: flex-start;
    }

    .production__ytFrame {
        width: 90%;
        height: 400px;
        padding: 0 5%;
    }

    .production__bannerBackground {
        min-height: 200px;
    }


    .production__second {
        flex-direction: column;
    }

    .production__detailsTableItem {
        width: 90%;
    }

    .production__starImg {
        width: 25px;
        height: 25px;
    }

    .production__ratingRate {
        font-size: 1.5rem;
    }

    .production__bannerInfo {
        /*max-width: 70%;*/
        font-size: 0.8rem;
    }

    .production__banner {
        min-height: 240px;
    }
}

@media (max-width: 600px) {
    .production__bannerInfo {
        font-size: 0.6rem;
    }

    .production__ytFrame {
        height: 200px;
    }

    .production__userRatingStarImg {
        width: 15px;
        height: 15px;
    }

    .production__userRating h3 {
        font-size: 0.8rem;
    }
}