

.bigSlider {
    width: 90%;
    height: 400px;
    z-index: 2;
    color: white;
    position: relative;
}


.bigSlider__card {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bigSlider__card:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.home__bigSliderImgContainer {
    width: 100%;
    height: 80%;
}

.home__bigSliderImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}




@media (max-width: 600px) {

    .bigSlider{
        width: 85%;
        height: 300px;
    }
    .bigSlider__card {
        width: 150px;
        height: 300px;
    }
}