
:root {
    --commentsWidth: 700px;
    --commentWidth: 600px;
}

.comments {
    width: 100%;
    max-width: var(--commentsWidth);
    display: flex;
    flex-direction: column;

}

.comments__seeMoreBtnContainer {
    width: var(--commentsWidth);
    display: flex;
    justify-content: center;
}

.comments_seeMoreBtn {
    padding: 20px;
    width: 200px;
}

.comments h2 {
    font-size: 2rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    width: var(--commentWidth);
}

.comment_new {
    display: flex;
    flex-direction: column;
}

.comment_new h3 {
    margin: 0 0 10px 0;
}

.comment_newText {
    resize: none;
    width: var(--commentWidth);
    height: 40px;
    /*overflow-y: scroll;*/
    font-size: 1rem;
}

.comment_newBtn {
    margin-top: 10px;
    width: 100px;
}

.comment__imgHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.comment h3 {
    margin: 0;
}

.comment__userImg {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.comment__content {
    background-color: #b4b5b6;
    border: 2px solid #b9b8b8;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    width: calc(var(--commentWidth) - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.comment__contentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment__contentHeaderLeft {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    :root {
        --commentsWidth: 100%;
        --commentWidth: 90%;
    }
    .comment{
        justify-content: flex-start;
    }
    .comments h2 {
        font-size: 1.5rem;
    }
}