.news {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.news__secondHeader{
    display: flex;
    justify-content: space-between;
    color: #232323;
}
.news__author {
    padding: 0 0 10px 0;
}

.news__smallSlider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.news__smallSliderContainer {
    width: 90%;
    height: 300px;
    z-index: 2;
}

